.chat
  .main_header
    .main_header__left
      .main_header__left__title
        = @group.name
      %ul.main_header__left__members
        Member：
        - @group.users.each do |user|
          %li.main_header__left__members__member
          = user.name
    .main_header__right
      = link_to edit_group_path(@group.id) do
        .main_header__right__btn Edit
  .chat_messages
    = render @messages #インスタンス変数名が複数形、テンプレート名が単数形なら記述省略ができる

  .form
    = form_for [@group, @message] do |f|
      .message-box
        = f.text_field :text, class:"message-box__message", placeholder: 'type a message'
        .message-box__label
          = f.label :image, class:"message-box__label__image" do
            = icon('far', 'images', class: 'icon')
            = f.file_field :image, class: "message-box__label__image__file"
        = f.submit 'Send', class: "message-box__btn"