.side_bar
  .side_header
    .side_header__box
      %p.side_header__box__user_name
        = current_user.name
    %ul.side_header__lists
      %li.side_header__lists__list
        = link_to new_group_path do
          %i.fa.fa-edit.my-white
      %li.side_header__lists__list
        = link_to edit_user_path(current_user) do
          %i.fa.fa-cog.my-white
  .side_bar__groups
    - current_user.groups.each do |group|
      .side_bar__groups__group
        = link_to group_messages_path(group) , class:"lineout" do
          .side_bar__groups__group__name
            = group.name
          .side_bar__groups__group__message
            = group.show_last_message
